{% extends "common/base.html" %}
{% block title %}Laptop Information{% endblock %}

{% block content %}
    <div class="container">
        <h3 id="info-heading">Laptop Information</h3>

        <form id="filterForm">
            <button type="button" class="btn btn-secondary" id="criteriaButton">Filter Options</button>
            <button type="button" class="btn btn-secondary" id="applyFilterButton" onclick="fetchFilteredLaptops()">Apply Filter</button>
        </form>

        <div id="criteriaDropdownContainer" style="display: none;">
            <select id="criteriaDropdown" name="criteria" multiple >
                <option value="user_password">Username and Password</option>
                <option value="mac_addresse">MAC Addresse</option>
                <option value="puma_und_concerto_version">Puma Version</option>
                <option value="puma_ice_version">Puma ICE Version</option>
                <option value="puma_batterie_version">Puma Battery Version</option>
                <option value="puma_eMotor_version">Puma E-Motor Version</option>
                <option value="lynx_version">Lynx Version</option>
                <option value="creta_version">Creta Version</option>
                <option value="service_tag">Service Tag</option>
                <option value="comment">Kommentar</option>
            </select>
        </div>

        <div id="table-container">
            <table id="laptopTable">
                <thead>
                    <tr>
                        <th>Laptop Name</th>
                        <th>Hersteller</th>
                        <th>Dongle ID</th>
                        <th>Mac Addresse</th>
                    </tr>
                </thead>
                <tbody id="laptopTableBody">
                    <!-- Table body content dynamically generated -->
                </tbody>
            </table>
        </div>
    </div>

    <link rel="stylesheet" href="/static/css/laptop_table.css">
    <script src="/static/js/laptop_details.js"></script>
{% endblock %}