{% extends "base.html" %}
{% block title %}Admin Bookings{% endblock %}

{% block content %}
  <h3 align="center">Admin Bookings</h3>
  {% if bookings %}
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Dates</th>
          <th>Book Date</th>
          <th>Laptops</th>
          <th>Status</th>
          <th>Action</th> <!-- New column for dropdown menu -->
        </tr>
      </thead>
      <tbody>
        {% for booking in bookings %}
          <tr>
            <td>{{ booking.name }}</td>
            <td>{{ booking.selected_dates }}</td>
            <td>{{ booking.date.strftime('%d.%m.%Y') }}</td>
            <td>
              {% for laptop in booking.laptops %}
                {{ laptop.name }}<br>
              {% endfor %}
            </td>
            <td>
              {% if booking.status == 'returned' %}
                Returned
              {% else %}
                {{ booking.status }}
                <form method="POST" action="{{ url_for('auth.update_booking_status', booking_id=booking.id) }}">
                  <select name="status">
                    <option value="booked" {% if booking.status == 'booked' %} selected {% endif %}>Booked</option>
                    <option value="returned">Returned</option>
                  </select>
                  <button type="submit">Update</button>
                </form>
              {% endif %}
            </td>
            <td>
              <form method="POST" action="{{ url_for('auth.delete_booking', booking_id=booking.id) }}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No bookings available.</p>
  {% endif %}
{% endblock %}
