{% extends "base.html" %}
{% block title %}Booking Form{% endblock %}

{% block content %}
<div class="container">
  <h2 class="text-center mb-5">Booking Form</h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form id="bookingForm" method="POST" action="{{ url_for('views.book_laptops')}}">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
        </div>

        <div class="form-group">
          <label for="dates">Select Dates:</label>
          <br>
          <input id="dates" name="dates" type="text" placeholder="Dates">
        </div>

        <div class="form-group">
          <button id="choose_laptop_button" type="button" class="btn btn-secondary" onclick="handleChooseLaptops()">Choose Laptops</button>
        </div>

        <div id="laptopListContainer" style="display: none;">

          <div id="laptopList">
            <h4 style="margin-bottom: 10px;" class="form-group text-center">Available Laptops</h4>
            <ul id="availableLaptops"></ul>
          </div>

          <div id="filterContainer" style="display: none; width: 50%; margin-bottom: 20px;">
            <h4>Filter Options</h4>
            <select id="filterCriteria" class="form-control" style="margin-bottom: 10px;">
              <option value="name">Name</option>
              <option value="hersteller">Hersteller</option>
              <option value="dongle_id">Dongle ID</option>
              <option value="mac_addresse">MAC Addresse</option>
              <option value="puma_und_concerto_version">Puma Version</option>
              <option value="lynx_version">Lynx Version</option>
              <option value="creta_version">Creta Version</option>
            </select>
            <input type="text" id="filterInput" class="form-control" placeholder="Enter filter query" style="margin-bottom: 10px;">
            <div id="suggestionsContainer" style="display: none;">
              <ul id="suggestionsList"></ul>
            </div>
            <button id="applyFilterButton" type="button" class="btn btn-secondary" onclick="applyFilter()">Apply Filter</button>
          </div>

          <div id="filteredLaptopList" style="display: none;">
            <ul id="filtered_laptops"></ul>
          </div>

          <button id="selectButton" type="button" class="btn btn-secondary" onclick="selectLaptops()" style="display: none;">Select</button>
        </div>

        <div class="form-group">
          <label for="comment">Comment:</label>
          <textarea id="comment" name="comment" rows="4" class="form-control"></textarea>
        </div>

        <ul id="selectedLaptopsForm"></ul>

        <div id="submitForm" class="form-group text-center">
          <button type="button" id="submitBookingButton" class="btn btn-primary"  >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<link rel="stylesheet" href="static/booking_form.css">
<script src="/static/filter_laptop.js"></script>
<script src="/static/handling_confirmation.js"></script>
{% include "confirmation_window.html" %}
{% endblock %}
