{% extends "base.html" %}
{% block title %}Laptop Information{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/calendar_overview.css">
<h3 align="center" >Calendar Booking Overview</h3>
<div class="container centered mt-5">
    <div class="row mb-3">
        <div class="col-md-4 d-flex align-items-center">
            <label for="bookingStatusDropDown" class="mr-2" >Show Booking:</label>
            <select id= "bookingStatusDropDown" class="form-control" onclick="bookingStatusToggleOptions(this)" >
                <option value="bookingStatusAll">All</option>
                <option value="bookingStatusPending">Pending</option>
                <option value="bookingStatusBooked">Booked</option>
                <option value="bookingStatusReturned">Returned</option>
            </select>
        </div>
        <div class="col-md-8 text-right timelineButton">
            <button class="btn-nav" id="previousMonthButton">«</button>
            <button class="btn btn-secondary" id="currentMonthButton">Today</button>
            <button class="btn-nav" id="nextMonthButton">»</button>
            <span id="currentMonthYear"></span>
        </div>
    </div>

    <div class="calendar-table">
        <table >
            <thead>
                <tr>
                    <th rowspan="2">Book By</th>
                    <th rowspan="2">Status</th>
                    <th colspan="31" id="monthHeader"> March 2024</th>
                </tr>
                <tr id="daysHeader">
                    <!-- Day headers will be dynamically inserted here -->
                </tr>
            </thead>
            <tbody id="calendarBody">
                <!-- Rows for laptops will be dynamically inserted here -->
            </tbody>
        </table>
    </div>
</div>


<script src="/static/calendar_overview.js"></script>

{% endblock %}