{% extends "base.html" %}
{% block title %}Laptop Information{% endblock %}


{% block content %}
<link rel="stylesheet" href="static/hover_styles.css">
  <h3 align="center">Laptop Information</h3>
    <form id="filterForm" method="POST" action="{{ url_for('views.show_laptop') }}">
        <!-- Button to toggle the dropdown menu -->
        <button type="button" id="criteriaButton">Select Criteria</button>
        <!-- Dropdown menu -->
        <select id="criteriaDropdown" name="criteria" multiple style="display: none;">
            <option value="hersteller">Hersteller</option>
            <option value="dongle_id">Dongle ID</option>
            <option value="mac_addresse">MAC Addresse</option>
            <option value="puma_und_concerto_version">Puma Version</option>
            <option value="lynx_version">Lynx Version</option>
            <option value="creta_version">Creta Version</option>
        </select>
        <button type="button" id="applyFilter" >Apply Filter</button>
    </form>

    <hr>

    <!-- Display filtered criteria for each laptop -->
    <table class="table" id="laptopTable" style="display: none;">
        <thead>
            <tr>
                <th>Laptop Name</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


<script src="/static/laptop_details.js"></script>
{% endblock %}