{% extends "base.html" %}
{% block title %}Booking Form{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/laptop_page_style.css">
<h3 align="center">Fill this Form</h3>


  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter Name"
    />
  </div>

  <div class="form-group">
    <label for="dates">Select dates:</label>
    <input id="dates"
      name="dates"
      type="text"
      placeholder="Select dates"
    />
  </div>

  <button type="button" onclick="showAvailableLaptops()">Choose Laptops</button>

  <div id="laptopListContainer">
    <div id="laptopList" style = 'display : none;'>
      <ul id="availableLaptops">
        {% for laptop in available_laptops %}
        <li>
          <input type="checkbox" id="laptop{{ laptop.id }}" name="selected_laptops" value="{{ laptop.id }}" class="laptop-checkbox">
          <label for="laptop{{ laptop.id }}">{{ laptop.name }}</label>
        </li>
        {% endfor %}
      </ul>
      <button type="button" onclick="selectLaptops()">Select</button>
    </div>

    <div id="filterContainer" >
      <h3>Filter Options</h3>
      <select id="filterCriteria">
        <option value="name">Name</option>
        <option value="hersteller">Hersteller</option>
      <!-- Add other criteria options here -->
      </select>
      <input type="text" id="filterInput" placeholder="Enter filter query">
      <button id="applyFilterButton" type="button" onclick="applyFilter()">Apply Filter</button>
    </div>
  </div>


  <!-- Display selected laptops here -->
  <ul id="selectedLaptopsForm"></ul>

  <button type="submit" class="btn btn-primary">Submit</button>

<script src="/static/filter_laptop.js"></script>
{% endblock %}

