{% extends "base.html" %}
{% block title %}Laptop Information{% endblock %}


{% block content %}
<link rel="stylesheet" href="static/hover_styles.css">
  <h3 align="center">Laptop Information</h3>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Get all laptop name elements
            var laptopNames = document.querySelectorAll('.laptop-name');

            // Add mouseover event listener to each laptop name
            laptopNames.forEach(function(laptopName) {
                var laptopId = laptopName.getAttribute('data-laptop-id');

                // Fetch hover information for the laptop using AJAX
                fetch(`/laptop_information/${laptopId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Construct tooltip content
                        var tooltipContent = '';
                        if (data.borrower_name && data.borrowing_duration) {
                            tooltipContent = `Gebucht von : ${data.borrower_name}, Zeitraum: ${data.borrowing_duration}`;
                        } else {
                            tooltipContent = 'Noch nicht gebucht';
                        }

                        // Add tooltip to laptop name element
                        laptopName.setAttribute('data-toggle', 'tooltip');
                        laptopName.setAttribute('title', tooltipContent);
                        laptopName.addEventListener('mouseover', function() {
                            // Show tooltip
                            $(this).tooltip('show');
                        });
                    })
                    .catch(error => console.error('Error fetching hover information:', error));
            });
        });

        // Function to toggle the visibility of the dropdown menu
        window.onload = function() {
            var criteriaButton = document.getElementById('criteriaButton');
            var criteriaDropdown = document.getElementById('criteria');

            criteriaButton.addEventListener('click', function() {
                // Toggle the display style of the dropdown menu
                if (criteriaDropdown.style.display === 'none') {
                    criteriaDropdown.style.display = 'block';
                } else {
                    criteriaDropdown.style.display = 'none';
                }
            });

            var filterForm = document.getElementById('filterForm');
            filterForm.addEventListener('submit', function() {
                // Hide the menu upon form submission
                criteriaDropdown.style.display = 'none';
            });
        };
    </script>

    <form id="filterForm" method="POST" action="{{ url_for('views.show_laptop') }}">
        <!-- Button to toggle the dropdown menu -->
        <button type="button" id="criteriaButton">Select Criteria</button>
        <!-- Dropdown menu -->
        <select id="criteria" name="criteria" multiple style="display: none;">
            <option value="hersteller">Hersteller</option>
            <option value="dongle_id">Dongle ID</option>
            <option value="mac_addresse">MAC Addresse</option>
            <option value="puma_und_concerto_version">Puma Version</option>
            <option value="lynx_version">Lynx Version</option>
            <option value="creta_version">Creta Version</option>
                <!-- Add more options for other criteria -->
        </select>
        <button type="submit">Apply Filter</button>
    </form>

    <hr>

    <!-- Display filtered criteria for each laptop -->
    <table class="table">
        <thead>
            <tr>
                <th>Laptop</th>
                {% if selected_criteria %}
                    {% for criterion in selected_criteria %}
                        <th>{{ criterion.capitalize() }}</th>
                    {% endfor %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for (laptop_name, laptop_id), criteria in filtered_laptops.items() %}
            <tr>
                <td>
                    <span class="laptop-name" data-laptop-id="{{ laptop_id }}">{{ laptop_name }}</span>
                </td>
                {% for criterion in criteria %}
                    <td>{{ criterion }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}