/* Styling for  whole page */

#booking-form-container {
    width:180%;
}

/* Styling for list of available laptops and filtered_laptops */

#availableLaptops, #filtered_laptops {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

/* Apply similar styles to list items */

#availableLaptops li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ccc;
}

#availableLaptops li:last-child {
  border-bottom: none;
}

#availableLaptops li:hover{
  background-color: #f0f0f0;
}


/*Styling for filter container and laptop list*/
#laptopListContainer {
  display: none;
  justify-content: space-between; /* Space between containers */
  gap: 20px; /* Gap between containers */
  padding: 10px;
}

.half-width {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
}


/* Align buttons properly */
#selectButton, #applyFilterButton{
  align-self: center;  /* Center horizontally */
  margin-top: auto;     /* Push to bottom */
  margin-bottom: 10px;  /* Add space below button */
}

#suggestionsContainer {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 400px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
}

#suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#suggestionsList li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#suggestionsList li:hover {
  background-color: #f0f0f0;
}

ul#availableLaptops li {
    display: flex;
    align-items: center;
}

ul#availableLaptops li label {
    margin-left: 10px; /* Adjust this value to control the spacing */
}

.form-control {
    width: 100%; /* Set the width of both inputs to 100% */
}

#selectedLaptopList {
    top: 0;
    left: calc(100% + 10px);
    padding: 10px; /* Add padding for better spacing */
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
