/* styles.css */

#availableLaptops {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  max-height: 200px; /* Limit maximum height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Apply similar styles to list items */
#availableLaptops li {
  padding: 10px; /* Add padding for better readability */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for highlighting */
  border-bottom: 1px solid #ccc; /* Add border between items */
}

#availableLaptops li:last-child {
  border-bottom: none; /* Remove border from the last item */
}

#availableLaptops li:hover {
  background-color: #f0f0f0; /* Highlight item on hover */
}


#laptopListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

#filterContainer {
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  display: none;
  padding: 10px; /* Add padding for better spacing */
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
}

#suggestionsContainer {
  display: none;
  position: absolute;
  min-width: 200px;
  max-width: 400px;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 999;
}

#suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#suggestionsList li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#suggestionsList li:hover {
  background-color: #f0f0f0;
}

#filtered_laptop_list {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
  max-height: 200px; /* Limit maximum height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Apply styling universally to list items */
#filteredLaptopList li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom: 1px solid #ccc;
}

/* Remove border from the last item */
#filteredLaptopList li:last-child
{
  border-bottom: none;
}

/* Highlight item on hover */
#filteredLaptopList li:hover {
  background-color: #f0f0f0;
}

/* Change background color for selected items */
#filteredLaptopList li.selected {
  background-color: #007bff;
  color: #fff;
}


