body {
    background-color: #f8f9fa;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: #007bff;
    color: white;
    z-index: 1;
}

.table td,
.table th {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.table td {
    position: relative;
}

.status {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    font-size: 0.85em;
}

.status.ready {
    background-color: #28a745;
    color: white;
}

.status.clean-up {
    background-color: #ffc107;
    color: white;
}

.status.dirty {
    background-color: #dc3545;
    color: white;
}

.booking {
    position: absolute;
    height: 100%;
    padding: 5px;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.booking span {
    font-size: 0.85em;
}
